.container {
    background: inherit;
}
.content-container {
    max-width: 1200px;
    padding: 5rem 1rem;
    margin: 0 auto;
    border-bottom: .1rem solid var(--opacity-text-color);
}
@media (max-width: 760px) {
    .content-container {
        padding: 3rem 1rem;
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.logo__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--second-color);
}
.nav__list {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav__link {
    font-weight: 500;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

.link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border: .1rem solid transparent;
    
}
.text-link {
    font-weight: 500;
}
.text-link_colored {
    color: var(--second-color);
}
.text-link_bold {
    font-weight: 700;
}

.stroke-link,
.fill-link {
    padding: 1rem 1.6rem;
    font-weight: 700;
    border-radius: var(--rounded-md);
}

.fill-link {
    
    background-color: var(--second-color);
    color: var(--main-color);
    
}
.stroke-link {
    color: var(--second-color);
    border: .1rem solid var(--second-color);
    
}

.head-text {
    font-family: 'Poppins', sans-serif;
    color: var(--title-color);
    font-weight: 700;
}
.title1 {
    font-size: 4rem;
    line-height: 1.3;
}
.title2 {
    font-size: 2.5rem;
}
.title3 {
    font-size: 1.3rem;
}
@media (max-width: 470px) {
    .title1 {
        font-size: 3rem;
    }
    .title2 {
        font-size: 2rem;
    }
}
.head-text_white {
    color: var(--main-color);
}

.main-word {
    color: var(--second-color);
}

.stars {
    display: flex;
    align-items: center;
    gap: .3rem;
}
.star {
    display: inline-flex;
}
.description_opacity {
    opacity: .7;
}
.product-delivery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: var(--rounded-md);
    background: var(--main-color);
    padding: .5rem 1rem;
    box-shadow: var(--shadow-thin)
}
.product-delivery__photo {
    object-fit: cover;
    object-position: center;
    width: 4rem;
    aspect-ratio: 1 / 1;
}
.product-delivery__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: var(--title-color);
}
.product-delivery__status {
    font-size: .7rem;
}
.product-delivery__status_canceled {
    color: var(--status-trending-color);
}
.product-delivery__status_delivered {
    color: var(--status-supreme-color);
}
.product-delivery__time {
    align-self: flex-end;
    font-size: .6rem;
    color: var(--opacity-text-color);
}

.flex-list {
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 1.5rem;
    
}
.view-link {
    align-self: flex-end;
    color: #ACADB9;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
@media (max-width: 760px) {
    .view-link {
        font-size: 1.2rem;
    }
}

.product-status {
    padding: .2rem .5rem;
    border-radius: calc(var(--rounded-md) / 2);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: .8rem;
}
.product-status_healthy {
    background: var(--status-healthy-bg);
    color: var(--status-healthy-color);
}
.product-status_supreme {
    background: var(--status-supreme-bg);
    color: var(--status-supreme-color);
}
.product-status_trending {
    background: var(--status-trending-bg);
    color: var(--status-trending-color);
}

.statistic,
.rating,
.waiting-time {
    display: flex;
    align-items: center;
    justify-content: center;
}
.statistic {
    gap: 1rem;
}
.rating,
.waiting-time {
    gap: .5rem;
}
.waiting-time::after {
    content: '';
    width: .4rem;
    height: .4rem;
    border-radius: var(--rounded-full);
    background: var(--main-text-color);
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: .1rem solid transparent;
}
.btn_rounded {
    width: 2rem;
    height: 2rem;
    border-radius: var(--rounded-full);
}
.btn-bookmark {
    background: var(--bookmark-bg);
}
.btn-add-product {
    background: var(--title-color);
}
.main-word_bold {
    font-weight: 700;
    color: var(--title-color);
}

/* select */

.select {
    min-width: 160px;
    z-index: 1;
    position: relative;
    padding: .5rem .6rem;
    border: .08rem solid var(--feature-text-color);
    border-radius: calc(var(--rounded-md) / 1.5);
    background: inherit;
    font-family: 'Poppins', sans-serif;
    background: var(--main-color);
    cursor: pointer;
}
@media (max-width: 330px) {
    .select {
        min-width: 120px;
        font-size: .8rem;
    }
}
.select__current-value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &::after {
        transition: .5s;
        color: var(--feature-text-color);
        transform: rotate(45deg);
        content: '';
        width: .5rem;
        height: .5rem;
        border-radius: calc(var(--rounded-md) / 15);
        border-right: .1rem solid currentColor;
        border-bottom: .1rem solid currentColor;
    }
}
.select_open .select__current-value {
    &::after {
        transform: rotate(-135deg);
    }
}

.select__list {
    width: 100%;
    padding: inherit;
    position: absolute;
    left: 0;
    top: 110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    border: inherit;
    border-radius: inherit;
    background: inherit;
    transition: .5s;
}
.select__option {
    padding: inherit;
    text-wrap: nowrap;
    border-radius: inherit;
}
.select__option_selected {
    background: var(--second-color);
    color: var(--main-color);
}
.visible.visible {
    opacity: 1;
    visibility: visible;
}
.hidden {
    opacity: 0;
    visibility: hidden;
}
/* decorate pattern */

.decorate-arrow {
    position: relative;
    
    &::after {
        content: url("https://live.verstaem.online/eatly/src/img/decor/arrow.svg");
        position: absolute;
        bottom: -4.5rem;
        left: 0;
        transform: rotate(45deg);
        pointer-events: none;
    }
}
.decorate-sticks {
    position: relative;
    &::after {
        content: url("https://live.verstaem.online/eatly/src/img/decor/pattern-2.svg");
        position: absolute;
        pointer-events: none;
    }
}
.decorate-waves {
    position: relative;
    &::after {
        content: url("https://live.verstaem.online/eatly/src/img/decor/pattern-1.svg");
        position: absolute;
        pointer-events: none;
    }
}

/* sidebar */
.sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: .5s;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .3);
    }

    &.visible {
        & .sidebar__content {
            transform: translate(0);
        }
        & .sidebar__close {
            transform: translateY(1rem);
        }
    }
}
.sidebar__main {
    z-index: 4;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    gap: 2rem;
}
@media (max-width: 470px) {
    .sidebar__main {
        width: 70%;
    }
}
.sidebar__content {
    
    padding: 2rem;
    flex: 1 1 calc(100% / 2);
    display: flex;
    gap: 2rem;
    flex-direction: column;
    background: var(--main-color);
    box-shadow: var(--shadow-thin);

    transition: transform .5s;
    transform: translate(180px)
}
.sidebar__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.sidebar__link {
    font-weight: 600;
    font-size: 1.5rem;
}
.btn-close {
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    fill: var(--main-text-color);
    background: var(--main-color);
    box-shadow: var(--shadow-thin);
    transition: transform .5s;
}
.sidebar__close {
    
    transform: translateY(0);
}
.sidebar__auth {
    align-items: flex-end;
    flex-direction: column;
    font-weight: 600;
    font-size: 1.5rem;
}

/* burger */
.burger {
    display: none;
    position: relative;
    padding: .8rem 1rem;
    min-width: 3.5rem;
    min-height: 3rem;
    color: var(--main-color);
    background: var(--second-color);
    border-radius: var(--rounded-md);
    transition-duration: .3s;
    transition-property: top, opacity, transform, border, background, color;
    &:hover {
        color: var(--second-color);
        border: .1rem solid currentColor;
        background: var(--main-color);
        
    }
}
@media (max-width: 770px) {
    .burger {
        display: block;
    }
}
.burger_open {
    & .burger__line_top {
        top: inherit;
        transform: translate(-50%, -50%) rotate(45deg)

    }
    & .burger__line_middle {
        opacity: 0;
    }
    & .burger__line_bottom {
        top: inherit;
        transform: translate(-50%, -50%) rotate(-45deg)
    }
}
.burger__line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.7rem;
    height: .15rem;
    background: currentColor;
    transition: inherit;
}
.burger__line_top {
    top: 35%;
}
.burger__line_bottom {
    top: 65%;
}

.overlay-open {
    
    overflow-y: hidden;
}

