/* Introduction */


.introduction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}
@media (max-width: 900px) {
    .introduction {
        flex-direction: column;
        gap: 5rem;
    }
    .introduction__controls {
        align-self: center;
    }
}
.introduction__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.3rem;
}
@media (max-width: 900px) {
    .introduction__content {
        text-align: center;
    }
}

.clarification {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: var(--opacity-text-color);

    &::before {
        content: '';
        display: block;
        width: 2rem;
        height: 1.6px;
        background: currentColor;

    }
}

.introduction__description {
    margin-bottom: 2rem;
}
@media (max-width: 900px) {
    .introduction__description {
        align-self: center;
        text-align: justify;
        max-width: 70%;
    }
}
.achievements {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}
@media (max-width: 900px) {
    .achievements {
        align-self: center;
    }
}
@media (max-width: 460px) {
    .achievements__quantity {
        display: none;
    }
}
.achievements__company {
    display: flex;
    align-items: inherit;
    justify-content: center;
}
.achievements__title {
    color: var(--title-color);
    font-weight: 600;
}
.introduction__img {
    position: relative;
    min-width: 40%;
}
.introduction__chicken {
    position: relative;
}
.chicken_img,
.statistic_img {
    max-width: 100%;
    object-fit: cover;
    object-position: center; 
}

.introduction__delivery {
    min-width: 20rem;
    position: absolute;
    right: -2rem;
    z-index: 1;
    &::after {
        right: 2rem;
        top: -2rem;
    }
}
@media (max-width: 500px) {
    .introduction__delivery,
    .introduction__statistic  {
        transform: scale(.8);
    }
}
.introduction__statistic {
    position: absolute;
    bottom: 0;
    padding: .5rem;
    background: var(--main-color);
    border-radius: var(--rounded-md);
    box-shadow: var(--shadow-thin);
    &::after {
        left: -2rem;
        bottom: -2rem;
    }
}


/* Features */

.features {
    background: var(--second-color) url("../../public/images/features.png") no-repeat center / cover;
}
.features__list {
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
}
.feature {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 2rem;
    &:nth-child(2) {
        border-inline: .05rem solid var(--feature-text-color);
    }
}
@media (max-width: 900px) {
    .features__list {
        flex-direction: column;
        width: -moz-fit-content;
        width: fit-content;
        align-items: stretch;
    }
    .feature {
        padding-block: 1rem;
        border-bottom: .1rem solid var(--feature-text-color);
        &:nth-child(2) {
            border-inline: none
        }
    }
}

.description_feature {
    color: var(--feature-text-color);
}

/* Mobile-app */

.mobile-app {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}
@media (max-width: 900px) {
    .mobile-app {
        flex-direction: column-reverse;
        align-items: center;
        & .head-text {
            text-align: center;
        }
    }
    .mobile-app__download {
        align-self: center;
    }   
}
@media (max-width: 470px) {
    .mobile-app__download::after {
        bottom: -5.5rem;
    }
}
.mobile-app__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
}
.mobile-app__features {
    list-style: initial;
    transform: translate(1.3rem);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-weight: 400;
    font-size: 1.1rem;
}
.mobile-app__img {
    
    &::after {
        top: -2rem;
        right: -2rem;
        transform: rotate(180deg);
    }
    & > img {
        max-width: 100%;
        object-fit: cover;
    }
}
@media (max-width: 460px) {
    .mobile-app__img {
        &::after {
            content: none;
        }
    }
}

/* Top restaurants */

.top-restaurants,
.top-dishes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    & .head-text {
        text-align: center;
    }
}
.restaurant {
    display: flex;
    flex-direction: column;
    border-radius: var(--rounded-md);
    box-shadow: var(--shadow-thin);
}
.restaurant_img {
    max-width: 100%;
    border-top-left-radius: var(--rounded-md);
    border-top-right-radius: var(--rounded-md);
}
.restaurants-list {
    grid-template-columns: repeat(3, 1fr)
}
@media (max-width: 900px) {
    .restaurants-list {
        grid-template-columns: repeat(2, 1fr); 
    }
}   
@media (max-width: 760px) {
    .restaurants-list {
        grid-template-columns: repeat(1, 1fr); 
    }
}
.restaurant__info {
    position: relative;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .4rem;
}
.restaurant__bookmark {
    position: absolute;
    right: .8rem;
    bottom: .8rem;
}


/* Top dishes */
.dishes-list {
    grid-template-columns: repeat(auto-fill, minmax(229px, 1fr));
}
.dish {
    height: 100%;
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: var(--rounded-md);
    box-shadow: var(--shadow-thin);
}
.dish__info {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: .4rem;
}
.dish__bottom {
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}
.dish__statistic {
    justify-self: flex-start;
    grid-column: 1 / span 2;
}
.dish__price {
    grid-row-start: 2;
    grid-column-start: 1;
}
.dish__btn-add-product {
    justify-self: flex-end;
    grid-row-start: 2;
    grid-column-start: 2;
}
.dish__favourite {
    position: absolute;
    right: .7rem;
    top: .7rem;
}

/* Purchases */

.purchases {
    display: grid;
    grid-template-areas: 
    "title dashboard"
    "orders dashboard"
    "orders dashboard"
    "orders dashboard";
    grid-auto-columns: 1fr;
    column-gap: 4rem;
    justify-content: center;
    align-items: flex-start;
}
@media (max-width: 900px) {
    .purchases {
        grid-template-areas: 
        "title title"
        "orders orders"
        "dashboard dashboard"
        "dashboard dashboard";
    }
    .title_purchases {
        text-align: center;
    }
    .orders-list {
        margin-bottom: 2rem;
    }
    .dashboard {
        width: 80%;
        justify-self: center;
    }
}

.title_purchases {
    grid-area: title;
    margin-bottom: 2rem;
}

.orders-list {
    justify-self: flex-start;
    grid-area: orders;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: .8rem;
}
@media (max-width: 900px) {
    .orders-list {
        width: 100%;
        justify-self: center;
    }
}
@media (max-width: 470px) {
    .orders-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
@media (max-width: 300px) {
    .orders-list {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}
.dashboard {
    grid-area: dashboard;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    border-radius: var(--rounded-md);
    box-shadow: var(--shadow-thin);
}
@media (max-width: 760px) {
    .dashboard {
        width: 100%;
    }
}
@media (max-width: 460px) {
    .dashboard {
        padding: 1rem;
    }
}
.dashboard__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.dashboard__title {
    font-size: 1.5rem;
    font-weight: 600;
}
.purchases__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.purchase {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    border: .08rem solid var(--purchase-border);
    border-radius: var(--rounded-md);
    
}
.purchase__main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.purchase__info {
    flex: 1 0 auto;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    color: var(--purchase-color);
}
.purchase__title {
    
    font-weight: 500;
    color: var(--title-color);
}
.purchase__description {
    font-size: .8rem;
}
.purchase__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: var(--rounded-full);
}
.purchase__logo_expense {
    background: var(--bookmark-bg);
}
.purchase__logo_vocher {
    background: var(--status-supreme-bg);
}

.purchase__price {
    color: var(--title-color);
    font-weight: 600;
    font-size: 1.1rem;
}
.progress {
    width: 100%;
    &::-webkit-meter-bar {
        border: none;
    }
    &::-webkit-meter-optimum-value {
        border-radius: var(--rounded-full);
    }
}
.progress_expense {
    &::-webkit-meter-bar {
        background-color: var(--feature-text-color);
    }
    &::-webkit-meter-optimum-value {
        background-color: var(--second-color);
    }
}
.progress_vocher {
    &::-webkit-meter-bar {
        background-color:  #daa41a45;
    }
    &::-webkit-meter-optimum-value {
        background-color: var(--status-healthy-color);
    }
}


/* Reviews */

.reviews-list {
    width: 100%;
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        height: 15px;
        border-radius: var(--rounded-full);
        background: var(--feature-text-color);
    }
    &::-webkit-scrollbar-thumb {
        
        border-radius: var(--rounded-full);
        background: var(--second-color);
    }
    &::-webkit-scrollbar-button {
        display: none;
    }
}
.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    border: none;
}
.review {
    min-width: 510px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
    border: .1rem solid var(--purchase-border); 
    border-radius: var(--rounded-md);
    box-shadow: var(--shadow-thin);
    font-family: 'Poppins', sans-serif;
}
@media (max-width: 760px) {
    .review {
        min-width: 460px;
    }
}
@media (max-width: 470px) {
    .review {
        min-width: 340px;
    }
}
.review__reviewer-main {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.review__reviewer-info {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
.review__reviewer-name {
    font-weight: 500;
    color: var(--title-color);
}
.review__reviewer-description {
    font-size: .9rem;
}
.review__reviewer-quote {
    font-style: italic;
    text-align: justify;
    font-weight: 400;
}


/* Subscribe */

.subscribe-container {
    border-bottom: none;
    padding-top: 3rem;
    padding-bottom: 7rem;
}
.subscribe {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 2.5rem;
    border-radius: var(--rounded-md);

    background: var(--second-color) url("https://live.verstaem.online/eatly/src/img/sale-bg.jpg") no-repeat center / cover;

    &::after {
        content: '';
        position: absolute;
        width: 15rem;
        bottom: -5rem;
        right: 3rem;
        aspect-ratio: 1 / 1;
        background: url("https://live.verstaem.online/eatly/src/img/food.png") no-repeat center / cover;
    }
}
@media (max-width: 740px) {
    .subscribe::after {
        content: none;
    }
}
.subscribe__title {
    
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 800;
    line-height: 1;
    color: var(--main-color);
}
@media (max-width: 470px) {
    .subscribe {
        align-items: center;
    }
    .subscribe__title {
        font-size: 3rem;
    }
    
}
.subscribe__form {
    
    align-self: flex-start;
    display: flex;
    padding: .5rem;
    font-weight: 600;
    
    font-family: 'Poppins', sans-serif;
    background: var(--main-color);
    border-radius: var(--rounded-md);
    &:focus-within {
        outline: .1rem solid var(--main-color);
        outline-offset: 2px;
    }
}
@media (max-width: 470px) {
    .subscribe__form {
        align-self: stretch;
        flex-direction: column;
    }
    
}
.subscribe__input {
    padding: 1rem;
    &:focus {
        outline: none;
    }
}
.subscribe__btn {
    padding: 1rem 1.6rem;
    background-color: var(--second-color);
    color: var(--main-color);
    border-radius: var(--rounded-md);
    font-size: .9rem;
    font-weight: inherit;
    text-transform: uppercase;
}