.scale {
    transition: transform .5s;
    &:hover {
        transform: scale(1.05);
    }
}
.btn_fill-hover,
.btn_stroke-hover {
    transition-duration: .5s;
    transition-property: border, background, color, stroke;
}

.btn_fill-hover {
    &:hover {
        border: .1rem solid transparent;
        background: var(--second-color);
        color: var(--main-color);
        stroke: var(--second-color);
        
    }
}
.btn_stroke-hover {
    &:hover {
        border: .1rem solid var(--second-color);
        background: var(--main-color);
        color: var(--second-color);
        stroke: var(--second-color);
    }
}
.link_hover {
    transition-duration: .3s;
    transition-property: color, stroke, stroke, fill;
    &:hover {
        stroke: var(--second-color);
        color: var(--second-color);
   }
   .socials-list &:hover * {
        stroke: none;
        fill: var(--second-color);
   }
}
.text-link_colored {
    transition-duration: .3s;
    transition-property: color;
    &:hover {
        color: var(--second-color_hover);
    }
}
