.footer {
    background-color: var(--footer-color);
    padding: 5rem 6rem;
    
}
.footer__head,
.footer__contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__head {
    padding-bottom: 2rem;
    border-bottom: .1rem solid var(--opacity-text-color);
}
.footer__contact {
    padding-top: 2rem;
}

.socials-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}